/* nejsme vcerejsi, pouzivame moderni box model */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --bila: #f5f5f5;
  --modra-background: #1961cc;
  --seda: #808080b5;
  --modra-nadpis: #629edb;
  --seda-border: #8080802b;
  --font-raleway: "Raleway", serif;
}

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/

body {
  margin: 0;
  padding: 0;
  background-color: var(--bila);
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.6;
}

.hlavicka {
  background-color: var(--modra-background);
  background-image: linear-gradient(hsla(0 0% 0%/0.3), hsla(0 0% 0%/0.3)),
    url(/images/island-hlavicka.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.titulek,
.perex,
.autor {
  text-align: center;
  color: var(--bila);
}

.titulek {
  font-family: var(--font-raleway);
  padding-top: 1rem;
  font-size: 2.5rem;
}
.perex {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.separator {
  border-top: 3px solid #ffffffa6;
  width: 100px;
  margin: auto;
}

.autor {
  font-style: italic;
  padding-bottom: 4rem;
  opacity: 70%;
}

.uvod,
.proc,
.zajimavosti {
  text-align: left;
  padding: 1.5rem;
  font-size: 0.8rem;
}

.fotogalerie {
  text-align: left;
  padding-left: 1.5rem;
}

.menu {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
  width: 90%;
  margin: auto;
  font-size: 0.8rem;
  padding-top: 1rem;
}

.menu a {
  text-decoration: none;
  color: var(--seda);
  font-weight: 600;
}

.menu li {
  border-bottom: 1px solid var(--seda-border);
  font-family: "Raleway", serif;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  font-weight: 500;
}

.img-wrapper img {
  object-fit: cover;
  width: 100vw;
  height: auto;
}

.foto img {
  width: 100vw;
}

.foto {
  margin-left: 0;
  margin-right: 0;
}

.popisek,
.footer {
  font-family: "Raleway", serif;
  font-size: 0.8rem;
  color: var(--seda);
  text-align: center;
  margin: 0;
}

.footer {
  font-size: 0.7rem;
  padding: 1.5rem;
  text-align: left;
  background: linear-gradient(#80808047, #ffffff);
}

.footer::first-line {
  font-weight: 700;
}

.footer a {
  color: var(--seda);
}

.galerie .popisek::first-line {
  font-weight: 900;
  color: #00000087;
}

.popisek a {
  color: var(--seda);
}

h2::after {
  display: block;
  content: "";
  width: 80px;
  border-top: 4px solid var(--modra-nadpis);
  margin-left: -1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 500px) {
  .menu {
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;
    padding-top: 0;
    border-top: 0.8px solid var(--seda-border);
    border-bottom: 0.8px solid var(--seda-border);
  }

  .menu li {
    border-bottom: none;
    border-right: 0.8px solid var(--seda-border);
    padding-right: 2.5rem;
    text-align: center;
  }

  .menu li:first-child {
    border-left: none;
  }
  .menu li:last-child {
    border-right: none;
  }

  .menu a {
    font-weight: 400;
  }

  .img-wrapper {
    position: relative;
  }

  .popisek.image-author {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--bila);
    margin: 1rem;
  }

  .popisek.image-author a {
    color: var(--bila);
  }

  .galerie {
    display: flex;
    flex-wrap: wrap;
  }

  .galerie .popisek {
    position: absolute;
    bottom: 0;
    background-color: #000000ad;
    width: 100%;
    height: 0px;
    transition: height 300ms ease-in-out;
  }

  .galerie .popisek::first-line,
  .galerie figcaption,
  .galerie figcaption a {
    color: var(--bila);
  }

  .foto:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
  }

  .foto:hover .popisek {
    height: 50px;
    transition: height 300ms ease-in-out;
  }

  .foto {
    overflow: hidden;
    margin: 0;
    flex: 0 0 50%;
    position: relative;
  }

  .foto img {
    width: 100%;
    height: 100%;

    transform: scale(1);
    transition: transform 0.5s ease-in-out;
  }
}

@media screen and (min-width: 1000px) {
  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    border: 0;
    flex: 1;
  }

  .menu li {
    text-align: left;
    border-right: none;
    border-bottom: 0.8px solid var(--seda-border);
    width: 150px;
  }

  .menu-uvod {
    display: flex;
  }

  .uvod {
    flex: 4;
  }

  .obal {
    max-width: 960px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: -4rem;
    background-color: var(--bila);
  }

  .img-wrapper img,
  .foto img {
    max-width: 960px;
  }

  .proc {
    width: 75%;
    margin-left: 2.5rem;
  }

  .obal-zajimavosti {
    display: flex;
  }

  .prazdny {
    flex: 1;
    margin-left: 2.5rem;
  }

  .zajimavosti {
    flex: 4;
  }

  .fotogalerie {
    margin-left: 2.5rem;
  }

  .galerie {
    display: flex;
    flex-wrap: wrap;
  }

  .galerie img {
    max-width: 320px;
  }

  .foto {
    flex: auto;
  }

  .footer {
    background: none;
    padding-left: unset;
    margin: auto;
    max-width: 960px;
  }
}
